@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.AboutSectionBase

<section class="about-section-area section-top-space about-home-02" id="app-sect-about">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                @if (Children != null)
                {
                    var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.about.widgets.SectionTitle");
                    if (sectionTitle != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionTitle)
                        ;
                    }
                }

                @if (Children != null)
                {
                    var textContent = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.about.widgets.TextContent");
                    if (textContent != null)
                    {
                        @WireframeParser.RenderWireFrame(textContent)
                        ;
                    }
                }
                <div class="counter-section-inner style-a">
                    @if (Children != null)
                    {
                        var counterUpItems = Children.FirstOrDefault(c => c.Segment ==
                        "eduplan.homekit.about.widgets.CounterUpItems");
                        if (counterUpItems != null)
                        {
                            @WireframeParser.RenderWireFrame(counterUpItems)
                            ;
                        }
                    }
                </div>
                @if (Children != null)
                {
                    var sectionButton = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.about.widgets.SectionButton");
                    if (sectionButton != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionButton)
                        ;
                    }
                }
            </div>
            <div class="col-lg-6 col-md-12">
                @if (Children != null)
                {
                    var sectionThumbnail = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.about.widgets.SectionThumbnail");
                    if (sectionThumbnail != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionThumbnail)
                        ;
                    }
                }
            </div>
        </div>
    </div>
</section>